/* download */
.button-container {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    z-index: 1000; /* Ensures it stays above other elements */
}

.download-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.download-btn img {
    width: 50px; /* Adjust the size of the image */
    height: auto;
    display: block;
}
/* download */